form { 
    background-color: #fff; /* couleur de fond du formulaire */ 
    padding: 20px; /*espacement interne du formulaire */ 
    margin-bottom: 20px; /* espacement en dessous du formulaire */ 
    width: 35%; /* pour limiter la largeur du formulaire à 35% */
    margin: 0 auto; /* Cela permet de centrer le formulaire horizontalement */
    border-radius:10px;  
}

/* Styles pour l'alerte */
.alert {
    color: #6B2C1A; /* Changer la couleur du texte */
    
    margin-top: 20px; /* Espace au-dessus du titre */
    margin-bottom: 20px; /* Espace en dessous du titre */
    background-color: rgba(255, 255, 255, 0.5); /* Fond blanc plus translucide */
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Listes */
.alert ul {
    list-style-type: disc;
    padding-left: 20px;
}

.container-creation{
    padding-bottom:20px;
}


form label { 
    display: block; /* cela permet l'affichage en bloc des labels */ 
    margin-top: 10px; /* espacement au-dessus des labels */ 
}

form input, form select, form textarea { 
    width: 100%; /* largeur à 100% des champs de saisie */ 
    padding: 5px; /* espacement interne des champs de saisie */ 
    margin-bottom: 20px; /*espacement en dessous des champs de saisie */ 
    box-sizing: border-box; /*inclut le padding dans la largeur */ 
    border-radius: 10px;
}

form textarea { 
    height: 100px; /* hauteur de 100px pour le champ de texte */ 
}

.button-container {
    text-align: center; /* Cela centre le contenu à l'intérieur */
}

form input[type="submit"] { 
    background: linear-gradient(90deg, #6B2C1A, #f0b85f); 
    color: #fff; /* couleur de texte du bouton */
    font-size: 16px; /* Taille de la police du bouton */
    padding: 10px 15px; /* espacement interne du bouton */
    border: none; /* pas de bordure sur le bouton */
    cursor: pointer; /* curseur style pointer au survol */
    width: 300px; /* ou utilisez un pourcentage comme width: 80%;*/ 
    margin: 0 auto; /* Centrer le bouton horizontalement */
     /* Note: ce style permet d'avoir un bouton qui se centre horizontalement et qui a un espace de 10px entre le bouton et le contenu */
    border-radius: 5px;    
}

form input[type="submit"]:hover { 
    transform: scale(1.05); /* Légère amplification au survol */
    color: #330802; /* Change la couleur du texte au survol */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour l'effet de profondeur */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */
}