/* CSS de la vue detailsUtilisateur*/

.details-utilisateur {
    background-image: url(../img/oreille.webp);
    background-size: cover; /* Pour couvrir tout le conteneur */
    padding-bottom:10px;
}

.details-utilisateur h1 {
    font-size: 30px; /* Augmenter la taille de la police */
    color: #6B2C1A; /* Changer la couleur du texte */
    text-align: center; /* Centrer le texte */
    margin-top: 20px; /* Espace au-dessus du titre */
    margin-bottom: 20px; /* Espace en dessous du titre */
    background-color: rgba(255, 255, 255, 0.5); /* Fond blanc plus translucide */
    border-radius: 8px; /* Coins arrondis */
    padding: 10px; /* Espacement intérieur */
    width: 50%; /* Définir la largeur du titre */
    margin-left: auto; /* Centrer horizontalement */
    margin-right: auto; /* Centrer horizontalement */
    backdrop-filter: blur(5px); /* Ajoute un flou en arrière-plan */
}

/* Style de la section d'informations sur l'utilisateur */
.utilisateur-info {
    background-color: #fff; /*Couleur de fond blanche */ 
    border: 1px solid #ccc;  /*Bordure de 1 pixel solide grise */
    padding: 10px; /* Espacement intérieur de 10 pixels */ 
    width: 60%;  /* Largeur de 60% de la largeur de son conteneur */ 
    margin: 10px auto; /*Marge de 10 pixels de tous les côtés et centré horizontalment*/
    vertical-align: top; /*Alignement vertical en haut */ 
    border-radius: 10px;
}

/* Style des paragraphes*/
.utilisateur-info p {
    font-size: 18px;  /*Taille de police*/
    line-height: 1.5;  /* Hauteur de ligne de 1.5 */
    margin-bottom: 10px; /*Marge en bas*/
}

/* Style de la section des réservations*/ 
.reservations {
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 10px; 
    width: 60%; 
    margin: 10px auto; /* Ajout de la propriété pour centrer horizontalement */
    border-radius: 10px;
}

/* Style des paragraphes dans la section des réservations */
.reservations p {
    font-size: 18px; 
    line-height: 1.5; 
    margin-bottom: 10px; 
}

/* Style des boutons dans la section des réservations */ 
.reservations a button {
    background: linear-gradient(90deg, #6B2C1A, #f0b85f); 
    color: #fff; /* couleur de texte du bouton */
    padding: 10px 15px; /* espacement interne du bouton */
    border: none; /* pas de bordure sur le bouton */
    cursor: pointer; /* curseur style pointer au survol */
    width: 200px; /* ou utilisez un pourcentage comme width: 80%;*/ 
    margin: 0 auto; /* Centrer le bouton horizontalement */
     /* Note: ce style permet d'avoir un bouton qui se centre horizontalement et qui a un espace de 10px entre le bouton et le contenu */
    border-radius: 5px;    
}

/* Style du survol des boutons dans la section des réservations */
.reservations a button:hover {
    transform: scale(1.05); /* Légère amplification au survol */
    background: #f0b85f; /* Couleur de fond au survol */
    color: #6B2C1A; /* Couleur du texte au survol */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */
}

.create-logement {
    margin-top: 20px; 
}

/* Style du bouton de réservation, du bouton "créer un logement" et du bouton "voir mes logements */ 
.btn-reserver{
    background: linear-gradient(90deg, #6B2C1A, #f0b85f); 
    color: #fff; /* couleur de texte du bouton */
    font-size: 16px; /* Taille de la police du bouton */
    padding: 10px 15px; /* espacement interne du bouton */
    border: none; /* pas de bordure sur le bouton */
    cursor: pointer; /* curseur style pointer au survol */
    width: 200px; /* ou utilisez un pourcentage comme width: 80%;*/ 
    margin: 0 auto; /* Centrer le bouton horizontalement */
     /* Note: ce style permet d'avoir un bouton qui se centre horizontalement et qui a un espace de 10px entre le bouton et le contenu */
    border-radius: 5px;    
}

/* Style du survol du bouton de réservation, du bouton "créer un logement" et du bouton "voir mes logements*/
.btn-reserver:hover {
    transform: scale(1.05); /* Légère amplification au survol */
    background: #f0b85f; /* Couleur de fond au survol */
    color: #6B2C1A; /* Couleur du texte au survol */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */
}

.button-container {
    text-align: center; /* Centre le texte et les éléments à l'intérieur */
    margin: 10px 0; /* Espace au-dessus et en dessous des boutons */
}

.logement-actions {
    text-align: center; /* Centre les boutons de création et de visualisation de logements */
    margin: 20px 0; /* Espace au-dessus et en dessous de la section */
}

