/* CSS de la vue detailsUtilisateur*/

/* Style de la section d'informations sur l'utilisateur */
.utilisateur-info {
    background-color: #fff; /*Couleur de fond blanche */ 
    border: 1px solid #ccc;  /*Bordure de 1 pixel solide grise */
    padding: 10px; /* Espacement intérieur de 10 pixels */ 
    width: 60%;  /* Largeur de 60% de la largeur de son conteneur */ 
    margin: 10px auto; /*Marge de 10 pixels de tous les côtés et centré horizontalment*/
    vertical-align: top; /*Alignement vertical en haut */ 
}

/* Style des paragraphes*/
.utilisateur-info p {
    font-size: 18px;  /*Taille de police*/
    line-height: 1.5;  /* Hauteur de ligne de 1.5 */
    margin-bottom: 10px; /*Marge en bas*/
}

/* Style de la section des réservations*/ 
.reservations {
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 10px; 
    width: 60%; 
    margin: 10px auto; /* Ajout de la propriété pour centrer horizontalement */
}

/* Style des paragraphes dans la section des réservations */
.reservations p {
    font-size: 18px; 
    line-height: 1.5; 
    margin-bottom: 10px; 
}

/* Style des boutons dans la section des réservations */ 
.reservations a button {
    background-color: #337ab7; 
    color: #fff; 
    padding: 5px 10px; 
    border: none; 
    cursor: pointer; 
    margin-top: 10px; 
}

/* Style du survol des boutons dans la section des réservations */
.reservations a button:hover {
    background-color: #23527c; 
}

.create-logement {
    margin-top: 20px; 
}

/* Style du bouton de réservation */ 
.btn-reserver{
    background-color: #337ab7; 
    color: #fff; 
    padding: 10px; 
    border: none; 
    cursor: pointer; 
    display: block; /* Affichage en tant que bloc */
    margin: 0 auto; /* On centre horizontalement */
    text-align: center; /* On aligne le texte au centre */
}

/* Style du survol du bouton de réservation */
.btn-reserver:hover {
    background-color: #23527c; 
}

