.utilisateur-info {
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 10px; 
    width: 60%; 
    margin: 10px auto; /* Ajout de la propriété pour centrer horizontalement */
    vertical-align: top; 
}


.utilisateur-info p {
    font-size: 18px; 
    line-height: 1.5; 
    margin-bottom: 10px; 
}

.reservations {
    background-color: #fff; 
    border: 1px solid #ccc; 
    padding: 10px; 
    width: 60%; 
    margin: 10px auto; /* Ajout de la propriété pour centrer horizontalement */
}

.reservations p {
    font-size: 18px; 
    line-height: 1.5; 
    margin-bottom: 10px; 
}

.reservations a button {
    background-color: #337ab7; 
    color: #fff; 
    padding: 5px 10px; 
    border: none; 
    cursor: pointer; 
    margin-top: 10px; 
}

.reservations a button:hover {
    background-color: #23527c; 
}

.create-logement {
    margin-top: 20px; 
}
.btn-reserver{
    background-color: #337ab7; 
    color: #fff; 
    padding: 10px; 
    border: none; 
    cursor: pointer; 
    display: block; /* Affichage en tant que bloc */
    margin: 0 auto; /* On centre horizontalement */
    text-align: center; /* On aligne le texte au centre */
}

.btn-reserver:hover {
    background-color: #23527c; 
}
