/* CSS de la vue FAQ*/

/* Style pour enlever les puces par défaut */
ol {
    list-style: none; /* enlever les puces par défaut */
}

/* Espacement entre les questions */ 
li {
    margin-bottom: 10px; /* espacement entre les questions */
}

/* Espacement entre les paragraphes */ 
p {
    margin-bottom: 10px; /* espacement entre les paragraphes */
}

/* Style du conteneur des questions */
#faq {
    width: 80%; /* largeur du conteneur des questions */
    margin: 0 auto; /* centrage du conteneur */
    padding: 20px; /* espacement interne du conteneur */
}