/* UPDATE CSS DE LA PAGE D'ACCUEIL */

/* Style du fond d'écran en parallaxe */

.parallax{
  background-image: url(../img/chatdodo.jpg);
  background-size: 100%;
}

.content{
  text-align: center;
  padding: 50px;
  color: white;
  background-color: rgba(0,0,0,0.5);
  position: relative; /* Changer position en relative pour que le contenu soit positionné par rapport au container */
  z-index: 1; /* Mettre le contenu devant l'image de fond */
}

/* Style du titre de bienvenue */
.welcome-title {
  font-size: 36px;
  font-weight: bold;
  color:white;
  margin-bottom: 20px;
  opacity: 0; /* Définir l'opacité initiale à 0 */ 
  animation: fade-in 2s forwards; /* Ajouter une animation d'apparition */ 
  animation-delay: 0s; /* Délai d'attente avant l'apparition du titre */
}

/* Style du texte de bienvenue */
.welcome-text {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 30px;
  opacity: 0; /* Définir l'opacité initiale à 0 */ 
  animation: fade-in 2s forwards; /* Ajouter une animation d'apparition */ 
  animation-delay: 1s; /* Délai d'attente avant l'apparition du texte */
}

/* Animation d'apparition */ 
@keyframes fade-in { 
  0% { opacity: 0; } 
  100% { opacity: 1; } 
}

/* Style des liens de bienvenue */
.welcome-links {
  margin-top: 20px;
}

/* Section des avantages */
.avantages{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  padding: 50px;
}

.avantages h2{
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
  color: #23527c;
}

.avantages ul{
  display: flex;
  padding: 0;
  list-style-type: none;
}

.avantages li{
  display: flex;
  background-color: #1294b8;
  color: white;
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  transition: 0.5s;
  margin: 20px;
  flex-direction: column;
  width: 300px; /*ajout de cette ligne pour agrandir les cartes*/
  font-size: 20px;
}

.avantages li:hover{
  transform: scale(1.1);
}

.avantages i{
  font-size: 50px;
  margin-bottom: 10px;
}

.parallax-image{
  /* The image used */
  background-image: url("../img/pattemain.jpg");
  /* Set a specific height */
  min-height: 400px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-image h2 { 
  color: white; 
  font-size: 36px;
  text-align: center; 
  padding: 50px; 
  
} 

.temoignages { 
  background-color: #fff; 
  padding: 40px; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px;
  padding: 50px;
}

.temoignages h2 { 
  display: flex;
  justify-content: center;
  font-size: 30px; 
  font-weight: bold; 
  margin-bottom: 10px; 
  color: #23527c; 
}

.temoignages blockquote { 
  background-color: #f7f7f7; 
  padding: 20px; 
  border-radius: 10px; 
  margin-bottom: 20px; }

.temoignages blockquote p { 
  font-size: 18px; 
  color: #666; }

.temoignages signature { 
  font-size: 16px; 
  color: #999; 
  font-style: italic; 
}

.concept {
  background-image: url("../img/catwhite.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: black;
  padding: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  filter: grayscale(150%); /* Rend l'image en noir et blanc */
  transition: filter 0.5s; /* Ajoute une transition pour un changement progressif */
  margin-top: 40px; /* Ajouter une marge supérieure pour espacer la section concept */
}

.concept:hover {
  filter: grayscale(0%); /* Passe l'image en couleur au survol */
}

.concept p{ 
  font-size: 20px; 
}

.explications {
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
}
  
.benefice1, .benefice2 {
  width: 45%;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.benefice1 ul, .benefice2 ul {
  list-style-type: none;
  padding: 0;
}

.benefice1 img, .benefice2 img {
  width: 100%;
  margin-top: 20px;
}

/* Styles pour le bouton de défilement vers le haut */
#scrollUp {
position: fixed; /* Positionnement fixe par rapport à la fenêtre */
bottom: 10px; /* Espacement du bas */
right: 100px; /* Espacement à droite */
}
/* Styles pour l'icône dans le bouton de défilement vers le haut */
#scrollUp .fa-solid {
  font-size: 2em; /* Taille de police pour l'icône */
}