/* UPDATE CSS DE LA PAGE D'ACCUEIL */

/* Style du fond d'écran en parallaxe */

.parallax{
  background-image: url(../img/chatdodo.webp); /* Définit l'image de fond */
  background-size: 100%; /* Taille de l'image de fond à 100% de l'élément */
  max-width: 1500px; /* Largeur maximale pour le conteneur */
  margin: 0 auto; /* Centre la section horizontalement */
  
}

/* Style pour centrer le contenu et limiter la largeur des sections */
section {
  max-width: 1200px; /* Largeur maximale des sections */
  margin: 20px auto; /* Centre la section horizontalement avec un espacement vertical */
  min-height: 400px; /* Hauteur minimale pour une bonne présentation */
}

/* Contenu avec fond semi-transparent */
.content{
  max-width: 1500px; /* Largeur maximale */
  gap:20px; /* Espace entre les éléments */
  margin-top: 20px; /* Espacement supérieur */
  padding: 20px; /* Espace interne pour le contenu */
  text-align: center; /* Centre le texte */
  padding: 50px;
  color: white;/* Couleur du texte */
  background-color: rgba(0,0,0,0.5); /* Fond noir transparent */
  position: relative; /* Positionnement pour le z-index */
  z-index: 1; /* S'assure que ce contenu est au-dessus des éléments sous-jacents */
}

/* Style du titre de bienvenue */
.welcome-title {
  font-size: 36px; /* Taille de la police */
  font-weight: bold; /* Gras */
  color:white; /* Couleur du texte */
  margin-bottom: 20px; /* Marge inférieure */
  opacity: 0; /* Définir l'opacité initiale à 0 */ 
  animation: fade-in 2s forwards; /* Animation d'apparition */ 
  animation-delay: 0s; /* Délai d'attente avant l'apparition du titre */
}

/* Style du texte de bienvenue */
.welcome-text {
  font-size: 20px;
  line-height: 1.8; /* Espacement entre les lignes */
  opacity: 0; /* Opacité initiale à 0 */ 
  animation: fade-in 2s forwards; /* Animation d'apparition */ 
  animation-delay: 1s; /* Délai d'attente avant l'apparition du texte */
}

.li-benefice1-mobile{
  display:none;
}

/* Animation d'apparition */ 
@keyframes fade-in { 
  0% { opacity: 0; } /* Opacité initiale */
  100% { opacity: 1; } /* Opacité finale */
}

/* Style des liens de bienvenue */
.welcome-links {
  margin-top: 20px; /* Marge supérieure pour séparer du contenu précédent */
}

/* Section des avantages */
.avantages{
  display: flex; /* Utilisation de flexbox pour la disposition */
  flex-direction: column; /* Disposition en colonne */
  justify-content: center; /* Centre le contenu */
  align-items: center; /* Centre horizontalement */
  margin-bottom: 10px; /* Marge inférieure */
}

.avantages h2{
  text-align: center; /* Centre le titre */
  font-size: 30px; /* Taille du titre */
  margin-bottom: 30px; /* Marge inférieure */
  color: #6B2C1A  /* Couleur du texte */
}

.avantages ul{
  display: flex; /* Utilisation de flexbox pour les éléments de liste */
  padding: 0; /* Supprime l'espace par défaut */
  list-style-type: none; /* Supprime les puces */
}

.avantages li{
  display: flex; /* Utilisation de flexbox pour les éléments de liste */
  background: linear-gradient(90deg, #6B2C1A, #f0b85f); /* Dégradé de couleur */
  color: white; /* Couleur du texte */
  border-radius: 10px; /* Coins arrondis */
  padding: 50px; /* Espace interne */
  text-align: center; /* Centre le texte */
  transition: 0.5s; /* Transition en douceur pour l'effet hover */
  margin: 20px; /* Marge entre les éléments */
  flex-direction: column; /* Aligne en colonne */
  width: 300px;  /* Largeur fixe */
  font-size: 20px; /* Taille de la police */
  font-style: bold; /* Gras */
}

.avantages li:hover{
  transform: scale(1.1); /* Légère amplification au survol */
}

.avantages i{
  font-size: 50px; /* Taille des icônes */
  margin-bottom: 10px; /* Marge inférieure */
  color:white; /* Couleur blanche */
}

/* Section d'attraction */
.attraction {
  text-align: center;
  background-color: #f9f9f9; /* Couleur de fond de la section */
  margin-top: 10px;
}

/* Liens de participation */
.join-link {
  color: #fff; /* Couleur par défaut du texte */
  text-decoration: none; /* Supprime le soulignement */
  transition: all 0.3s; /* Ajoute une transition douce pour couleur et fond */
  padding: 5px 10px; /* Ajoute du padding pour un espace autour du texte */
  border-radius: 10px; /* Coins arrondis pour un effet doux */
}

.join-link:hover {
  transform: scale(1.05); /* Légère amplification au survol */
  background: #f0b85f; /* Couleur de fond au survol */
  color: #6B2C1A; /* Couleur du texte au survol */
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */
}

.parallax-image h2 { 
  color: white; /* Couleur de texte blanche */
  text-align: center; /* Centre le texte */
  padding: 150px; /* Espace autour */
  transition: background-color 0.3s; /* Transition pour un changement de fond */
}

/* Conteneur de cartes */
.card-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin-top: 20px;
}

.card {
  /*flex: 1; /* Permet aux cartes de prendre le même espace */
  display: flex;  /* Utilisation de flexbox pour la disposition */
  flex-direction: column; /* Align les éléments en colonne */
  justify-content: flex-end; /* Espace entre les éléments pour que le contenu prenne toute la hauteur disponible */
  background-color: #fff; /* Couleur de fond */
  border: 1px solid #ddd; /* Bordure des cartes */
  border-radius: 8px; /* Coins arrondis */
  padding: 20px; /* Espace interne */
  width: 35%; /* Largeur de chaque carte */
  min-width: 300px; /* Largeur minimale */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Ombre des cartes */
  transition: transform 0.2s; /* Transition pour l'effet de survol */
  margin: 10px; /* Marges entre les cartes */
}

.card:hover {
  transform: translateY(-5px); /* Soulèvement léger au survol */
}

.card h3 {
  margin-bottom: 15px; /* Marge inférieure entre le titre et le contenu */
}

.card p {
  margin-bottom: 20px; /* Marge inférieure entre la description et le bouton */
}

/* Style du bouton */
.button {
  display: inline-block;/* Affichage en bloc pour le lien */
  padding: 10px 20px; /* Espace interne */
  background: linear-gradient(90deg, #6B2C1A, #f0b85f); /* Dégradé de couleur */
  color: white; /* Couleur du texte */
  font-size: 16px; /* Taille de la police du bouton */
  text-decoration: none; /* Pas de souligné sur le lien */
  border-radius: 5px; /* Coins arrondis du bouton */
  transition: background-color 0.3s; /* Transition pour l'effet de survol */
}

/* Conteneur de bouton */
.button-container {
  display: flex; /* Utilisation de flexbox pour la disposition */
  flex-grow: 1; /* Permet au conteneur du bouton de croître et d'occuper l'espace restant */
  align-items: flex-end; /* Aligne le bouton en bas */
  justify-content: center; /* Centre le bouton horizontalement */
}

.button:hover {
  transform: scale(1.05); /* Légère amplification au survol */
    background: #f0b85f; /* Couleur de fond au survol */
    color: #6B2C1A; /* Couleur du texte au survol */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */
}
  
/* Section parallax avec image d'arrière-plan */
.parallax-image{
  background-image: url("../img/pattemain.webp");  /* Définit l'image pour l'effet de parallaxe */
  min-height: 400px; /* Hauteur minimale */
  background-attachment: fixed; /* Fixe l'image pour l'effet de parallaxe */
  background-position: center; /* Centre l'image */
  background-repeat: no-repeat; /* N'évite pas la répétition */
  background-size: cover; /* Remplit l'élément */
}

/* Titre dans la section parallax */
.parallax-image h2 { 
  color: white; /* Couleur du texte */
  font-size: 36px; /* Taille de la police */
  text-align: center; /* Centre le texte */
  padding: 150px; /* Espace autour */
} 

/* Section des témoignages */
.temoignages {
  background-color: #fff; /* Couleur de fond */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre pour la profondeur */
  display: flex; /* Utilisation de flexbox pour la disposition */        
  flex-direction: column; /* Disposition en colonne */
  align-items: center;  /* Centre le contenu */
}

/* Conteneur de témoignages */
.temoignages-container {
  display: flex;  /* Utilise flexbox pour disposition */
  justify-content: space-between; /* Espacement égal entre les cartes */
  flex-wrap: wrap; /* Permet aux cartes de passer à la ligne si nécessaire */
  gap: 20px; /* Espace entre les éléments */              
}

.temoignages blockquote {
  flex: 1 1 200px; /* Flexibilité avec une largeur minimale */
  margin: 20px;  /* Marge pour espacement */
  background-color: #CCC4B8; /* Couleur de fond des témoignages */
  padding: 20px; /* Espace interne */
  border-radius: 10px; /* Coins arrondis */
  text-align: center; /* Centre le contenu */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Ombre pour profondeur */
}

.temoignages blockquote .avatar {
  margin-bottom: 10px; /* Marge inférieure pour espacement */
}

.temoignages blockquote .avatar img {
  width: 60px; /* Largeur de l'image avatar */
  height: 60px; /* Hauteur de l'image avatar */
  border-radius: 50%; /* Bord arrondi pour le cercle */
}

.temoignages blockquote p {
  font-size: 18px; /* Taille de la police */
  color: black; /* Couleur du texte */
  margin: 0; /* Supprime la marge par défaut */
}

.temoignages signature {
  font-size: 16px; /* Taille pour la signature */
  color:black; /* Couleur du texte */
  font-style: italic; /* Italique pour la signature */
  margin-top: 10px;  /* Marge supérieure */
}

/* Section concept */
.concept {
  background-image: url("../img/catwhite.webp"); /* Image de fond */
  background-size: cover; /* Remplit l'élément */
  background-position: center; /* Centre l'image */
  text-align: left; /* Aligne le texte à gauche */
  color: black;
  padding: 150px; /* Espace autour */
  display: flex; /* Utilise flexbox pour disposition */
  flex-direction: row; /* Disposition horizontale */
  flex-wrap: nowrap; /* Empêche le retour à la ligne */
  filter: grayscale(150%); /* Applique un filtre gris */
  transition: filter 0.5s; /* Transitions pour le filtre */
  margin-top: 40px; /* Marge supérieure */
  position: relative; /* Permet le positionnement absolu des éléments */
}

.concept:hover {
  filter: grayscale(0%); /* Retire le filtre au survol */
}

/* Texte dans la section concept */
.concept-text {
  max-width: 460px; /* Largeur maximale du texte */
  margin-left: 20px; /* Espacement à gauche */
  z-index: 1; /* S'assure que le texte est au-dessus de l'image */
}

.concept p { 
  font-size: 20px; /* Taille de la police */
}

/* Style du bouton dans la section concept */
.concept .button {
  margin-top: 20px; /* Ajoute un espace au-dessus du bouton */
  background: linear-gradient(90deg, #6B2C1A, #f0b85f); /* Dégradé de couleur */
  color: white; /* Couleur du texte */
  font-size: 16px; /* Taille de la police du bouton */
  text-decoration: none; /* Pas de souligné */
  padding: 10px 20px; /* Espace interne */
  border-radius: 5px; /* Coins arrondis */
  transition: background-color 0.3s; /* Transition pour au survol */
}

.concept .button:hover {
  transform: scale(1.05); /* Légère amplification au survol */
  background: #f0b85f; /* Couleur de fond au survol */
  color: #6B2C1A; /* Couleur du texte au survol */
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */
}

.concept {
  display: flex; 
  align-items: center; /* Centre le texte verticalement */
  padding: 50px; /* Espacement autour */
}

/* Section des explications */
.explications {
  display: flex; /* Utilise flexbox pour disposition */
  justify-content: space-around; /* Espace égal autour des éléments */
  flex-wrap: wrap; /* Permet aux cartes de passer à la ligne si nécessaire */
}

/* Styles pour les bénéfices */
.benefice1, .benefice2 {
  width: 40%; /* Largeur de chaque carte */
  padding: 10px; /* Espacement interne */
  margin:10px; /* Marge pour espacement */
  font-size: 18px; /* Taille de la police */
  border: 1px solid #ccc; /* Bordure */
  box-shadow: 0 0 5px rgba(0,0,0,0.1); /* Ombre faible pour profondeur */
  text-align: center; /* Centre le texte */
  transition: transform 0.3s ease; /* Transition pour l'effet de survol */
  border-radius: 10px; /* Coins arrondis */

  /* Propriété pour assurer la même hauteur */
  display: flex; /* Utilisation de flexbox */
  flex-direction: column; /* Disposition verticale */
  justify-content: space-between; /* Espace égal entre les éléments */
  min-height: 150px; /* Hauteur minimale */
}

.benefice1:hover, .benefice2:hover {
  transform: scale(1.05); /* effet de zoom au survol */
}

/* Liste de bénéfices */
.benefice1 ul, .benefice2 ul {
  list-style-type: none; /* Supprime les puces */
  padding: 0; /* Réduit la marge supérieure */
}

/* Images des bénéfices */
.benefice1 img, .benefice2 img {
  width: 100%; /* Ajustement de la taille de l'image */
  margin-top: 10px; /* Réduction de la marge supérieure des images */
}

/* Styles pour le bouton de défilement vers le haut */
#scrollUp {
  position: fixed; /* Positionnement fixe par rapport à la fenêtre */
  bottom: 10px; /* Espacement du bas */
  right: 100px; /* Espacement à droite */
  background-color: rgba(34, 34, 34, 0.9); /* Fond sombre, semi-transparent pour un meilleur contraste */
  border-radius: 50%; /* Pour le rendre circulaire */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre pour le rendre plus visible */
  padding: 10px; /* Espacement interne pour agrandir la zone cliquable */
  transition: background-color 0.3s ease; /* Transition pour un effet au survol */
}

/* Styles pour l'icône dans le bouton de défilement vers le haut */
#scrollUp .fa-solid {
  font-size: 2em; /* Taille de police pour l'icône */
  color: #FFFFFF; /* Couleur blanche pour un bon contraste sur le fond sombre */
}

/* Change la couleur de fond au survol */
#scrollUp:hover {
  background-color: rgba(53, 53, 53, 1); /* Fond moins transparent au survol pour encore plus de contraste */
}

/* Changement de couleur pour l'icône au survol */
#scrollUp:hover .fa-solid {
  color: #FFD700; /* Couleur dorée assez visible pour le survol de l'icône */
}

