/*CREATION DU CSS DU LAYOUT*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#wrapper {
    max-width: 1200px;
    margin: 0 auto;
    border-top: 1px solid #333; 
}

header {
    background: #FFFFFF;
    color: black;
    border-bottom: 1px solid #333; /*création d'une ligne de séparation entre le header et le body*/ 
}

#nav-left {
    display: flex;
    align-items: center;
}

.full-width {
    width: 100%;
}

#nav-left img {
    margin-right: 10px; /* Marge entre le logo et les autres éléments de la nav-left */
}

img {
    width: 80px; /*largeur du logo */
    height: auto; /* pour conserver les proportions de l'image */
}

nav{ 
    width: 100%; 
    background:#FFFFFF; 
    padding: 10px;    
}
  
nav a {
    color: #00698F;
    text-decoration: none;
    margin-right: 10px;
    flex: 1; /* ça fait en sorte que les liens occupent l'espace disponible */
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 10px;
}

main {
    padding: 90px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p{
    background-color: #333;
    color: white;

}
.footer a {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 10px;
}

.footer a:hover {
    text-decoration: underline;
}
