/* Styles pour la vue listAnnonces */

h1 { 
    font-size: 24px; 
    margin-bottom: 10px; 
    text-align: center; 
    color: #00698F; /* Couleur principale */
}

p {
    margin-top: 10px;
    color: #333333; /* Couleur de texte principale */
}

form { 
    width: 100%; 
    margin-top: 20px; 
    padding: 20px; 
    background-color: #ffffff; 
    border: 1px solid #cccccc; 
    border-radius: 5px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

button {
    padding: 5px 10px;
    background-color: #007bff; /* Couleur des boutons principale */
    color: #ffffff; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

button:hover {
    background-color: #0062cc; /* Couleur au survol des boutons */
}

/* Autres styles à définir selon votre besoin */


