.annonce {
    background-color: #fff; /* couleur de fond du cadre de l'annonce */
    border: 1px solid #ccc; /* bordure autour du cadre de l'annonce */
    padding: 10px; /* espacement interne du cadre de l'annonce */
    width: 30%; /* largeur du cadre de l'annonce */
    margin: 10px; /* espacement entre les annonces */
    display: inline-block; /* affichage en ligne pour permettre les annonces à côté */
    vertical-align: top; /* alignement vertical pour éviter les espaces entre les annonces */
}

.annonce:nth-child(n+2) {
    margin-left: 5px; /* espace entre les annonces */
}

.annonce p {
    font-size: 18px; /* taille de la police du texte de l'annonce */
    line-height: 1.5; /* hauteur de ligne du texte de l'annonce */
}

.annonce a {
    font-weight: bold; /* texte en gras pour les liens */
}

button.btn-delete {
    background-color: #337ab7; /* couleur de fond du bouton */
    color: #fff; /* couleur de texte du bouton */
    padding: 5px 10px; /* espacement interne du bouton */
    border: none; /* pas de bordure sur le bouton */
    cursor: pointer; /* curseur style pointer au survol */
    display: block; /* Affichage en tant que bloc */
    margin: 0 auto; /* On centre horizontalement */
    text-align: center; /* On aligne le texte au centre */
}
    

button.btn-delete:hover {
    background-color:  #23527c; /* couleur de fond du bouton au survol */
}