
/* Style pour les informations du logement */

.logement-info {
    background-color: #fff; /* couleur de fond du cadre des informations du logement */
    border: 1px solid #ccc; /* bordure autour du cadre des informations du logement */
    padding: 10px; /* espacement interne du cadre des informations du logement */
    width: 50%; /* largeur du cadre des informations du logement */
    margin: 10px auto; /* espacement autour du cadre des informations du logement */
}

/* Style pour les paragraphes dans les informations du logement */
.logement-info p {
    font-size: 18px; /* taille de la police du texte */
    line-height: 1.5; /* hauteur de ligne du texte */
}

/* Style pour l'image du logement */
.logement-image img {
    width: 300px; /* taille de l'image du logement */
    height: 200px; /* hauteur automatique de l'image du logement */
    object-fit: contain; /* ajustement de l'image du logement */
}

.no-background {
    background: none; /* Enlève le fond */
    border: none; /* Enlève les bordures si nécessaire */
    padding: 0; /* Enlève le padding pour un rendu plus plat */
    margin: 0; /* Enlève les marges pour un alignement parfait */
}

.btn-delete-logement{
    background: linear-gradient(90deg, #6B2C1A, #f0b85f); /* Dégradé de couleur pour le fond */
        color: #fff; /* couleur de texte  */
        font-size: 16px; /* Taille de la police  */
        padding: 10px; /* Uniformisation des espaces intérieurs */
        border: none; /* pas de bordure */
        cursor: pointer; /* Change le curseur au survol pour montrer qu'il est cliquable */
        min-width: 120px; /* Largeur minimale  */
        border-radius: 5px;  /* Coins arrondis */ 
        margin: 0 5px; /* Espace */
        display: flex;  /* Utilise flexbox pour l'alignement  */
        justify-content: space-between; /* Espace uniforme */
        align-items: center; /* Aligne le bouton verticalement */
        margin-top: 10px; /* Ajoute un espace au-dessus du conteneur */
    }

/* Effet d'agrandissement et de changement de couleur au survol des boutons */
    .btn-delete-logement:hover{
        transform: scale(1.05); /* Légère amplification au survol */
        background: #f0b85f; /* Changer la couleur de fond au survol */
        color: #6B2C1A; /* Change la couleur du texte au survol */
        transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Animation fluide pour la transition */
    }


