/* Style pour les annonces */

header {
    background-color: #333; /* Couleur de fond sombre pour l'en-tête */
    color: #fff; /* Couleur du texte blanche */
    padding: 1rem;
    text-align: center;
  }
  
/* Style pour le conteneur des annonces */
.annonce-container {
    display: flex; /* Utilise flexbox pour centrer les éléments */
    justify-content: center; /* Centre les éléments horizontalement */
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
    margin: 0 auto; /* Centre le conteneur */
    max-width: 1200px; /* Largeur maximum du conteneur */
}

.bg-annonces {
    background-image: url(../img/chat_canape.jpg);
    background-size: cover; /* couvrir tout le conteneur sans déformer l'image */
    
}
.annonce {
    background-color: #fff; /* couleur de fond du cadre de l'annonce */
    border: 1px solid #ccc; /* bordure autour du cadre de l'annonce */
    padding: 10px; /* espacement interne du cadre de l'annonce */
    width: 30%; /* largeur du cadre de l'annonce */
    margin: 10px; /* espacement entre les annonces */
    display: flex; /* Utilise flexbox pour l'affichage interne si nécessaire */
    flex-direction: column; /* Empile les enfants en colonne */
    align-items: flex-start; /* Aligne le contenu à gauche */
    border-radius: 10px;
    box-shadow: 4px 2px 2px rgb(207, 202, 202);
}

/* Style pour les annonces à partir de la deuxième annonce*/
.annonce:nth-child(n+2) {
    margin-left: 5px; /* espace entre les annonces */
}

/* Style pour le paragraphe dans les annonces */
.annonce p {
    font-size: 18px; /* taille de la police du texte de l'annonce */
    line-height: 1.5; /* hauteur de ligne du texte de l'annonce */
}

/* Style pour les liens dans les annonces */
.annonce a {
    font-weight: bold; /* texte en gras pour les liens */
}

/* Style pour le bouton de suppression */
button.btn-delete {
    background-color:#6B2C1A ;
     /* couleur de fond du bouton */
    color: #fff; /* couleur de texte du bouton */
    padding: 5px 10px; /* espacement interne du bouton */
    border: none; /* pas de bordure sur le bouton */
    cursor: pointer; /* curseur style pointer au survol */
    display: block; /* Affichage en tant que bloc */
    margin: 0 auto; /* On centre horizontalement */
    text-align: center; /* On aligne le texte au centre */
    border-radius: 10px;
}
    
/* Style pour le bouton de suppression au survol */
button.btn-delete:hover {
    background-color:  #f0b85f /* couleur de fond du bouton au survol */
}