/*CREATION DU REGISTER.CSS*/

label[for="consentement"] {
    display: flex;/*utilisation de flexbox*/
    flex-wrap: nowrap;/*affichage en ligne des éléments à l'intérieur du label*/
    align-items: baseline;/*éléments alignés sur la même ligne de base*/
}
