/* Styles généraux pour les écrans de toutes les tailles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%; /* Fait en sorte que le body prenne toute la hauteur de la fenêtre */
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* S'assure que le wrapper prend au moins 100% de la hauteur de la fenêtre */
}

#mainpage {
  flex: 1; /* Permet au mainpage de prendre tout l'espace restant */
}

/* Couleurs */
body {
  font-family: 'Open Sans', sans-serif; /* police par défaut */
    background-color: #f9f9f9; /* couleur de fond claire */
    color: #333; /* couleur de texte sombre */
  }
  
  a {
    color:#330802; /* couleur de lien bleu */
    text-decoration: none;
  }
  
  a:hover {
    color: #f0b85f; /* couleur de lien survolée */
  }
  
  h1 {
    font-family: 'Cormorant', serif; /* police Cormorant pour H1 */
    color: #6B2C1A; /* couleur de titre */
    margin-top: 10px;
    margin-bottom:10px;
    text-align: center;
  }
   
  /* Supprimer les hauteurs différentes pour h2 dans les sections */
  .avantages h2, 
  .concept h2, 
  .temoignages h2, 
  .explications .benefice1 h2, 
  .explications .benefice2 h2 {
    font-size: 30px; /* Assurez-vous que tous les h2 sont à la même taille */
  }
  h2, h3, h4, h5, h6 {
    font-family: 'Cormorant', serif; /* police Cormorant pour H1 */
    color:#6B2C1A; /* couleur de titre sombre */
    margin-bottom: 10px;
    font-size: 30px;
  }
  
/* Header */
header {
  background: linear-gradient(90deg, #6B2C1A, #f0b85f); /* Dégradé de fond */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre portée pour un effet de profondeur */
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between; /* espace les éléments sur toute la largeur */
  align-items: center; /* centre les éléments verticalement */
}

nav ul {
  list-style: none; /* A enlever les puces */
  display: flex; /* utilise flexbox pour aligner les éléments */
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 30px; /* espace entre les éléments */
}

nav a {
  padding: 12px 20px; /* Ajout de padding pour augmenter la zone cliquable */
  font-size: 18px;
  background-color: transparent; /* Couleur de fond par défaut */
  border-radius: 25px; /* Coins arrondis pour un look doux */
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */
  color: white; /* Couleur de texte blanche pour augmenter le contraste */
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Fond semi-translucide au survol */
  color: #330802; /* Couleur du texte au survol */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Ombre au survol pour un effet de brillance */
}

/* Logo */
#nav-left {
  display: flex; /* utilise flexbox pour aligner les éléments */
  align-items: center; /* centre les éléments verticalement */
}

#nav-left img {
  width: 120px; /* Ajustement de la taille du logo */
  height: auto; /* Assure le bon ratio */
  margin-right: 10px; /* espace entre le logo et le texte */
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  nav ul {
      flex-direction: column; /* Changement en colonne pour les petites écrans */
  }
  
  nav li {
      margin: 10px 0; /* Ajuste la marge entre les éléments */
  }

  #nav-left img {
      width: 100px; /* Ajustement pour la petite taille */
  }
}

    
/* Contenu */

  main {
    width: 100%; /* largeur du conteneur des annonces */
    margin: 0 auto; /* centrage du conteneur */  
  }


/* Footer */
.footer {
  margin-top: 20px;
  background-color: #330802; 
  color: #fff; 
  padding: 20px; /* Augmentation de l'espacement interne */
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  justify-content: space-between; /* Espace entre le formulaire et les réseaux sociaux */
  width: 100%; /* Prendre toute la largeur disponible */
  max-width: 1200px; /* Limite la largeur maximale */
  margin-bottom: 20px; /* Espace entre le contenu et les liens en bas */
}

.newsletter {
    flex: 1;
    margin-right: 200px; /* Réduction de l'espacement à droite pour déplacer le formulaire plus à gauche */
}

.newsletter form {
  width:300px;
  height: auto;
}

.newsletter h4, .social-media h4, .footer-links p {
  color: #fff; /* Mettre les titres et le texte du footer en blanc */
}

/* Styles spécifiques pour le formulaire de souscription à la newsletter */
.newsletter input[type="email"] {
  padding: 10px;
  margin-right: 10px; /* Espacement à droite */
  border: none; 
  border-radius: 5px; 
  background-color: white; /* Fond blanc */
  color: white; /* Texte en noir */
  border: solid 2px;
  width: 90%; /* Augmentez la largeur à 70% */
}

.newsletter button {
  padding: 10px;
  background: linear-gradient(90deg, #6B2C1A, #f0b85f); 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  color: white; /* Changez ici pour garantir une bonne lisibilité */
  font-weight: bold; /* Rendre le texte un peu plus gros */
}

.newsletter button:hover {
  background-color: #f0b85f; /* Change la couleur de fond au survol */
  color: #330802; /* Change la couleur du texte au survol */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour l'effet de profondeur */
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */
}

.social-media {
  display: flex;
  align-items: center;
  margin-right: 190px; /* Réduction de l'espacement à gauche pour déplacer les icônes plus à gauche */
}

.social-media a {
  color: #fff; 
  margin: 0 10px; /* Espacement entre les icônes */
  font-size: 20px; /* Taille des icônes */
  transition: color 0.3s ease; /* Animation pour le changement de couleur */
}

.social-media a:hover {
  color: #f0b85f; /* Couleur des icônes au survol */
}

.footer-links {
  text-align: center; /* Centrer les liens */
  margin-top: 20px; /* Espacement entre les sections et les liens */
}
.footer-text {
  color: white; /* Définit la couleur du texte en blanc */
}

/* Changement de couleur au survol pour les liens dans le footer */
.footer-links a {
  color: white; /* Définit la couleur des liens en blanc */
}

.footer-links a:hover {
  text-decoration: underline; /* Ajoute une décoration au survol (facultatif) */
  color: #f0b85f; /* Changement de couleur au survol */
}


/* Style du popup de cookie */ 
#cookie-popup {
  position: fixed;/*Le popup restera fixe par rapport à la fenêtre */
  top: 50%;/* Positionnement vertical au centre de l'écran */ 
  left: 50%; /*Positionnement horizontal au centre de l'écran */
  transform: translate(-50%, -50%);/* Centre le popup exactement au milieu */
  background-color: #f2f2f2;/* Couleur de fond du popup */
  padding: 10px;/* Espacement interne du contenu du popup */
  border: 1px solid #ccc; /*Bordure du popup */ 
  border-radius: 5px;/* Coins arrondis du popup */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);/* Ombre portée du popup */ 
  display: block;/* Affiche le popup en tant que bloc */
  width: 300px; /*Largeur du popup  */
  text-align: center; /* Centrage horizontal du contenu du popup */ 
}

/* Style du contenu texte du popup */ 
#cookie-popup p {
  margin-bottom: 20px;/*Espacement en bas du texte du popup */ 
}

/* Style du bouton d'acceptation des cookies */ 
#cookie-popup button {
  background-color:#ccc;/*Couleur de fond du bouton */ 
  color: black;/*Couleur du texte*/
  border: none;/*Pas de bordure autour du bouton */ 
  padding: 10px 20px; /*Espacement interne du bouton */ 
  font-size: 16px;/*Taille de police*/
  cursor: pointer;/*Curseur de la souris*/
}

#cookie-popup button:hover {
  background-color: #f2f2f2; /* Changement de couleur de fond au survol du bouton */
}

/* Styles spécifiques aux écrans de taille moyenne (tablettes) */
@media screen and (max-width: 1024px) {
  main {
      width: 90%; /* on ajuste la largeur du conteneur des annonces pour les tablettes */
  }
}

/* Styles spécifiques aux écrans de petite taille (smartphones) */
@media screen and (max-width: 768px) {
  main {
      width: 100%; /* on ajuste la largeur du conteneur des annonces pour les smartphones */
  }

  nav ul {
      flex-direction: column; /* on change la direction des éléments de la navigation en colonne pour les smartphones */
  }

  nav li {
      margin: 10px 0; /* on ajuste l'espacement entre les éléments de la navigation pour les smartphones */
  }

  #nav-left img {
      width: 80px; /* on ajuste la taille du logo pour les smartphones */
      height: 80px;
  }
}
