
/* Styles généraux pour les écrans de toutes les tailles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%; /* Fait en sorte que le body prenne toute la hauteur de la fenêtre */
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* S'assure que le wrapper prend au moins 100% de la hauteur de la fenêtre */
}

#mainpage {
  flex: 1; /* Permet au mainpage de prendre tout l'espace restant */
}

/* Couleurs */
body {
  font-family: 'Open Sans', sans-serif; /* police par défaut */
  background-color: #f9f9f9; /* couleur de fond claire */
  color: #333; /* couleur de texte sombre */
}
  
a {
  color: #330802; /*couleur du lien*/
  text-decoration: none;
}

a:hover {
  color: #f0b85f; /* couleur de lien survolée */
}
  
h1 {
  font-family: 'Cormorant', serif; /* police Cormorant pour H1 */
  color: #6B2C1A; /* couleur de titre */
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
   
/* Supprimer les hauteurs différentes pour h2 dans les sections */
.avantages h2, 
.concept h2, 
.temoignages h2, 
.explications .benefice1 h2, 
.explications .benefice2 h2 {
  font-size: 30px; /* Assurez-vous que tous les h2 sont à la même taille */
}
h2, h3, h4, h5, h6 {
  font-family: 'Cormorant', serif; /* police Cormorant pour H1 */
  color: #6B2C1A; /* couleur de titre sombre */
  margin-bottom: 10px;
  font-size: 30px;
}

/* Header */
header {
  background: linear-gradient(90deg, #6B2C1A, #f0b85f); /* Dégradé de fond */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre portée pour un effet de profondeur */
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between; /* espace les éléments sur toute la largeur */
  align-items: center; /* centre les éléments verticalement */
}

nav ul {
  list-style: none; /* A enlever les puces */
  display: flex; /* utilise flexbox pour aligner les éléments */
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 10px; /* espace entre les éléments */
}

nav a {
  padding: 12px 10px; /* Ajout de padding pour augmenter la zone cliquable */
  font-size: 18px;
  background-color: transparent; /* Couleur de fond par défaut */
  border-radius: 25px; /* Coins arrondis pour un look doux */
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */
  color: #eeeeee; /* Couleur de texte blanche pour augmenter le contraste */
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Fond semi-translucide au survol */
  color: #330802; /* Couleur du texte au survol */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Ombre au survol pour un effet de brillance */
}

/* Logo */
#nav-left {
  display: flex; /* utilise flexbox pour aligner les éléments */
  align-items: center; /* centre les éléments verticalement */
}

#nav-left img {
  width: 120px; /* Ajustement de la taille du logo */
  height: auto; /* Assure le bon ratio */
  margin-right: 10px; /* espace entre le logo et le texte */
}

/* Contenu */
main {
  width: 100%; /* largeur du conteneur des annonces */
  margin: 0 auto; /* centrage du conteneur */  
}

/* Footer */
.footer {
  margin-top: 20px;
  background-color: #330802; 
  color: #fff; 
  padding: 20px; /* Augmentation de l'espacement interne */
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.footer-content {
  display: flex;
  justify-content: space-between; /* Espace entre le formulaire et les réseaux sociaux */
  width: 100%; /* Prendre toute la largeur disponible */
  max-width: 1200px; /* Limite la largeur maximale */
  margin-bottom: 20px; /* Espace entre le contenu et les liens en bas */
}

.newsletter {
  flex: 1;
  margin-right: 200px; /* Réduction de l'espacement à droite pour déplacer le formulaire plus à gauche */
}

.newsletter form {
  width: 300px;
  height: auto;
}

.newsletter h4, .social-media h4, .footer-links p {
  color: #fff; /* Mettre les titres et le texte du footer en blanc */
}

/* Styles spécifiques pour le formulaire de souscription à la newsletter */
.newsletter input[type="email"] {
  padding: 10px;
  margin-right: 10px; /* Espacement à droite */
  border: solid 1px #ccc; /* Ajout d'une bordure solide grise */
  border-radius: 5px; 
  background-color: white; /* Fond blanc */
  color: #000; /* Texte en noir */
  width: 90%; /* Augmentez la largeur à 90% */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Effet estompé */
}

.newsletter button {
  padding: 10px;
  background: linear-gradient(90deg, #6B2C1A, #f0b85f); 
  font-size: 16px; /* Taille de la police du bouton */
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  color: white; /* Changez ici pour garantir une bonne lisibilité */
  }

.newsletter button:hover {
  color: #330802; /* Change la couleur du texte au survol */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour l'effet de profondeur */
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */
}

.social-media {
  display: flex;
  align-items: center;
  margin-right: 190px; /* Réduction de l'espacement à gauche pour déplacer les icônes plus à gauche */
}

.social-media a {
  color: #fff; 
  margin: 0 10px; /* Espacement entre les icônes */
  font-size: 20px; /* Taille des icônes */
  transition: color 0.3s ease; /* Animation pour le changement de couleur */
}

.social-media a:hover {
  color: #f0b85f; /* Couleur des icônes au survol */
}

.footer-links {
  text-align: center; /* Centrer les liens */
  margin-top: 20px; /* Espacement entre les sections et les liens */
}
.footer-text {
  color: white; /* Définit la couleur du texte en blanc */
}

/* Changement de couleur au survol pour les liens dans le footer */
.footer-links a {
  color: white; /* Définit la couleur des liens en blanc */
}

.footer-links a:hover {
  text-decoration: underline; /* Ajoute une décoration au survol (facultatif) */
  color: #f0b85f; /* Changement de couleur au survol */
}