/* Styles généraux pour les écrans de toutes les tailles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Fait en sorte que le body prenne toute la hauteur de la fenêtre */
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* S'assure que le wrapper prend au moins 100% de la hauteur de la fenêtre */
}

#mainpage {
  flex: 1; /* Permet au mainpage de prendre tout l'espace restant */
}

/* Couleurs */
body {
  font-family: 'Open Sans', sans-serif; /* police par défaut */
  background-color: #f9f9f9; /* couleur de fond claire */
  color: #333; /* couleur de texte sombre */
}

a {
  color: #330802; /* couleur du lien */
  text-decoration: none;
  transition: color 0.3s ease; /* Animation pour le changement de couleur */
}

a:hover {
  color: #f0b85f; /* couleur de lien survolée */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant', serif; /* police Cormorant pour tous les titres */
  color: #6B2C1A; /* couleur de titre sombre */
  margin-bottom: 10px;
}

h1 {
  margin-top: 10px;
  text-align: center;
}

h2 {
  font-size: 30px; /* Assurez-vous que tous les h2 sont à la même taille */
}
h3{
  font-size: 28px;
}

/* Header */

header {
  background: linear-gradient(90deg, #6B2C1A, #f0b85f); /* Dégradé de fond */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre portée pour un effet de profondeur */
}

/* Navbar */

#nav-left {
  display: flex; /* utilise flexbox pour aligner les éléments */
  align-items: center; /* centre les éléments verticalement */
  margin-right: 20px; /* ajoute de l'espace entre le logo et les liens de navigation */
}


.nav-list { /* on ajuste la classe nav-list pour que les éléments de liste ne prennent que l'espace nécessaire */
  display: flex; 
  gap: 15px; /* on ajoute un espace entre les éléments de navigation */
}

nav {
  display: flex;
  align-items: center; /* Centre verticalement les éléments */
  padding: 15px; /* Ajout d'un espacement autour */
}

nav ul {
  list-style: none; /* pour enlever les puces */
  display: flex; /* On utilise flexbox pour aligner les éléments */
  flex: 1; /* Permet à l'ul d'occuper tout l'espace disponible */
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin: 0; /* Supprime les marges entre les liens */
}

nav a {
  padding: 12px 10px; /* Ajout de padding pour augmenter la zone cliquable */
  font-size: 18px;
  background-color: transparent; /* Couleur de fond par défaut */
  border-radius: 25px; /* Coins arrondis pour un look doux */
  color: #eeeeee; /* Couleur de texte blanche pour augmenter le contraste */
  flex-grow: 1; /* Permet aux liens d'occuper l'espace restant égal */
  text-align: center; /* Centre horizontalement le texte des liens */
  transition: background-color 0.3s ease, color 0.3s ease; /* Animation fluide pour le fond et la couleur */
}

nav a:hover {
  background-color: rgba(255, 255, 255, 0.3); /* Fond semi-translucide au survol */
  color: #330802; /* Couleur du texte au survol */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Ombre au survol pour un effet de brillance */
}

/* Logo */

#nav-left {
  display: flex; /* utilise flexbox pour aligner les éléments */
  align-items: center; /* centre les éléments verticalement */
}

#nav-left img {
  width: 120px; /* Ajustement de la taille du logo */
  height: auto; /* Assure le bon ratio */
  margin-right: 20px; /* espace entre le logo et le texte */
}

/* Contenu */
main {
  width: 100%; /* largeur du conteneur des annonces */
  margin: 0 auto; /* centrage du conteneur */  
}

/* Footer */
.footer {
  margin-top: 10px; /* ajoute un espacement au-dessus du footer */
  background-color: #330802; /* Changez pour s'harmoniser avec les autres sections */
  padding: 40px 20px; /* Espacement intérieur */
  text-align: center; /* Centrer le texte */
}

.footer-content {
  display: flex; /* Utiliser un modèle de flexbox pour un alignement plus facile */
  justify-content: space-between; /* Espacement uniforme entre les éléments */
  align-items: center; /* Centrer verticalement les éléments */
  flex-wrap: wrap; /* Permet le passage à la ligne sur les petits écrans */
  margin-bottom: 20px; /* Marges au bas pour l'espacement entre les sections */
}

.newsletter, .social-media {
  flex: 1; /* Chaque section prend un espace égal */
  min-width: 200px; /* Largeur minimum pour les petits écrans */
  margin: 10px; /* Espacement entre les sections */
}

.newsletter form{
  width:300px;
}
.newsletter h4, .social-media h4 {
  font-size: 28px; /* Taille de police plus grande pour les titres */
  margin-bottom: 15px; /* Espace sous les titres */
  color: white; /* Couleur dorée, en harmonie avec votre thème */
}

input[type="email"] {
  width: 100%; /* Largeur pleine du champ input */
    max-width: 400px; /* Largeur maximale pour éviter une trop grande largeur */
    height: 40px;
    margin-right: 10px; /* Espacement entre l'input et le bouton */
    border: 1px solid #ddd; /* Bordure claire pour se démarquer */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Ombre moderne */
    transition: box-shadow 0.3s ease; /* Transition fluide pour l’ombre */
}

input[type="email"]:focus {
    outline: none; /* Supprime le contour par défaut */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* Ombre plus profonde au focus */
}

.button-button {
  background: linear-gradient(90deg, #6B2C1A, #f0b85f); 
    color: #fff; /* couleur de texte du bouton */
   
    padding: 10px 15px; /* espacement interne du bouton */
    border: none; /* pas de bordure sur le bouton */
    cursor: pointer; /* curseur style pointer au survol */
    
    margin: 0 auto; /* Centrer le bouton horizontalement */
     /* Note: ce style permet d'avoir un bouton qui se centre horizontalement et qui a un espace de 10px entre le bouton et le contenu */
    border-radius: 5px;    
}

.button-button:hover {
  transform: scale(1.05); /* Légère amplification au survol */
    color: #330802; /* Change la couleur du texte au survol */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Ajoute une ombre pour l'effet de profondeur */
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease; /* Animation fluide */
}

.social-media a {
  margin: 0 10px; /* Espacement entre les icônes sociales */
  text-decoration: none; /* Pas de soulignement */
  color: white; /* Couleur d'icône dorée */
  font-size: 1.5em; /* Taille des icônes sociales */
}

.footer-links {
  font-size: 0.9em; /* Taille de police légèrement plus petite pour les liens */
  color: white; /* Couleur de texte des liens */
}

.footer-links a {
  color: white; /* Couleur des liens pour être en harmonie */
  text-decoration: none; /* Pas de soulignement */
  margin: 0 10px; /* Espacement entre les liens */
}

.footer-links a:hover,
.newsletter h4:hover, 
.social-media h4:hover{
  text-decoration: underline; /* pour souligner au survol */
  color:rgba(240, 184, 95, 0.7);
}

.social-media a:hover{
  color:rgba(240, 184, 95, 0.7);
}





